.sidebar{
    width: 4.5%;
    height: 100%;
    background-color: #202020;
    padding-right: 8px;
}

.sidebar__light{
    background-color: #fff;
}

.sidebar__icons{
    margin-top: 20px;
    width: 110%;
}

.sidebar__top{
    height: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #909090;
    width: 100%;
    height: 8vh;
    cursor: pointer;
}

.sidebar__light .sidebar__icon{
    color: #5c5b5b;
}

.sidebar__icon p{
    font-size: 0.6rem;
    margin-top: 8px;
}

.sidebar__icon:hover{
    background-color: rgb(68, 66, 66);
}

.sidebar__light .sidebar__icon:hover{
    background-color: rgb(233, 214, 214);
}

.sidebar__active{
    color: #fff;
}

.sidebar__light .sidebar__active{
    color: red;
}