.videoContainer{
    width: 100%;
    background-color: #181818;
    overflow-y: scroll;
    overflow-x: hidden;
}

.videoContainer__light{
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #323232;
  }

.videoContainer__row{
    width: 100%;
    height: 34vh;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    margin-bottom: 30px;
}


.videoContainer__light .videoContainer__row{
    background-color: #f8f8f8;

}

.videoContainer__column{
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.video__thumbnail img{
    width: 95%;
    height: 200px;
    max-width: 500px;
    max-height: 200px;
    object-fit: cover;
}

.thumbnail__player{
    width: 10px;
}

.video__thumbnail{
    position: relative;
    cursor: pointer;

}

.videoContainer__light .video__details{
    color: #000;
}

.video__details{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    align-items: flex-start;
    color: #fff;
}

.video__description{
    width: 85%;
    font-weight: 500;
    font-size: 0.9rem;
}


.video__thumbnailContainer p{
    position: absolute;
    z-index: 2;
    color: #fff;
    background-color: rgba(0,0,0,0.9);
    bottom: 10px;
    right: 30px;
    padding: 5px;
    font-size: 0.9rem;
}

.video__authorViewsContainer{
    font-size: 0.8rem;
    color: #888;
    margin-top: 7px;
}