.moreVideos__container{
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.moreVideos{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 12px 0px;
    cursor: pointer;
}

.moreVideos__video{
    width: 100%;
    display: flex;
}

.moreVideos__thumbnail{
    position: relative;
}

.moreVideos__video .moreVideos__timestamp{
    position: absolute;
    z-index: 2;
    color: #fff;
    background-color: rgba(0,0,0,0.9);
    padding: 5px;
    font-size: 0.9rem;
    bottom: 5px;
    right: 5px;
}

.moreVideos__video img{
    width: 250px;
    min-width: 250px;
    height: 14vh;
    object-fit: cover;
    
}

.moreVideos__details{
    color: #fff;
    margin-left: 20px;
    margin-top: 6px;
    float: left;
}

.moreVideos__details h5{
    font-size: 1.05rem;
    margin-bottom: 10px;
}

.moreVideos__details p{
    font-size: 0.9rem;
    color: rgb(139, 116, 116);
}