.searchContainer{
    position: absolute;
    width: 29.4%;
    max-width: 27.8%;
    left: 35%;
    top: 63.5px;
    height: auto;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
    border-left: 1px solid #888;
}

::-webkit-scrollbar {
    display: none;
  }

.searchContainer p{
    font-size: 0.9rem;
    padding: 7px;
}

.searchContainer p:hover{
    background-color: rgb(223, 210, 210);
    cursor: pointer;
}

.searchContainer span{
    right: 10px;
    position: absolute;
    font-size: 0.8rem;
    padding: 10px;
    color: #888;
}